<!DOCTYPE html>
<html lang="en">
<head>
    <title>FAQ</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="text/javascript">
        window.history.forward();
        function noBack(){
            window.history.forward();
        }
    </script>
</head>
<body>
    <nav>
        <label class="logo">AgriInfo</label>
        <ul>
            <li><a href="/fhome">Home</a></li>
            <li><a href="/fcrop-info">Crop Info</a></li>
            <li><a href="/fask-expert">Ask Expert</a></li>
            <li><a href="/ffaq">FAQ</a></li>
            <li><a href="/pesticide">Pesticide</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </nav>

    <div class="faq-farmer">
        <h3>FAQ</h3>

        {% for item in rec %}
            <div class="faq-box">
            <div class="faq-qes"><span style="font-weight: bold;">Qus : </span>{{ item[0] }}</div>
            <hr>
            <div class="faq-sol"><span style="font-weight: bold;">Solution : </span>{{ item[1] }}</div>
        </div>
        {% endfor %}

    </div>
</body>
</html>